body,html{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7) url(../photos/qqqq3.webp)  fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}
#notification{
    left: 15%;
    top: 0;
    bottom: 60%;
    position: absolute;
    text-align: center;
    color: white;
    background-color: red;
   width: 20px;
    border-radius: 50%;
}
#side_panel{
    display: flex;
    justify-content: center;
    overflow: auto;
    flex-wrap: wrap;
    width: 30%;
    max-width: 300px;
    background-color: none;
    height: 110%;
    margin-top: -2%;
    position: relative;
    margin-left: -2%;
}
#side_panel ul{
    position: absolute;
    width: 100%;
   margin-left: 0;
 top: 15px;
}
#side_panel li{

    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: row;
padding: 3px;
margin-bottom: 0;
}
#side_panel img{
    width: 20%;
    max-width:50px;
  bottom: 0;
  margin-bottom: -9px;
  margin-top: 2px;
  margin-left: 7px;
transition: 1s;
}
#side_panel span{
    position: absolute;
    left: 30%;
    bottom: 0;
font-size: 90%;
}
#side_panel li:hover{
cursor: pointer;
color: white;
}
#side_panel li:hover img{
    -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
}
.right{
    position: absolute;
    right: 0;
    width: 81vw;
    height: 100vh;
    top: 1px;
    background-color:rgba(34, 33, 33, 0.521);
   
}
#msg-area{
    width: 90%;
    height: 90%;
    border: 1px soild green;
}
#customers-msgs{
height: 100%;
width: 30%;
border: 2px solid  rgb(224, 220, 220);
overflow-x: hidden;
overflow-y: auto;
}
#user-chat{
    position: relative;
    width: 35px;
    top: 10px;
    left: 5px;
}
#chat-list{

    position: relative;
    list-style: none;
    width: 100%;
    left: -39px;
   top: -10px;
}
#chat-list li{
    border-radius: 12px;
    width: 99%;
    overflow: hidden;
    height: 60px;
    background-color: rgb(224, 220, 220);
   border-top: 6px solid white;
    transition: .5s;
}
#chat-list li:hover{
    cursor: pointer;
    transform: scale(1.02);
    background-color: rgb(207, 203, 203);;
}
#phone{
    font-family: sans-serif;
   position: relative;
   left: 70px;
   top: -20px;
   font-size: 13px;
}
#Name {
    font-size: 13px;
    font-family: sans-serif;
 position: relative;
 top: -12px;
 left: 15px;
}
#time{
    position: relative;
    left: 40px;
}
#chat-form{
    position: relative;
    height: 100%;
    width: 80%;
    
    top:-100%;
    left: 30.4%;
}
#top-chat{
    width: 100%;
    height:30px;
    
    border-radius: 7px;
}
#end-btn{
    border: none;
    border-radius: 10px;
    float: right;
    margin-top: 4px;
    font-size: 14px;
    margin-right: 6px;
    background-color:red;
    color: white;
    width: 100px;
transition: .2s;
}
#end-btn:hover{
    cursor:pointer;
    background-color: rgb(192, 12, 12);
}
#message-body{
    width: 100%;
    height: 95.5%;
   
    overflow: hidden;
}
#msg1{
    position: relative;
    margin-top: 10px;
    float: left;
    width: 50%;
    background-color: rgb(84, 209, 34);
    color: white;
   border-radius: 12px;
}
#msg2{
    position: relative;
    float: right;
    width: 52%;
    background-color: whitesmoke;
    border-radius: 12px;
    margin-top: 20px;
}
#msg-body{
    position: relative;
    left: 5px;
}
#msg-box{
    position: sticky;
    width: 100%;
    height: 50px;
    top: 100%;
    
    border-radius: 12px;
    overflow: auto;
}
#msg-text{
    background-color: whitesmoke;
    resize: none;
    outline: none;
    width:80%;
    height: 25px;
    max-height: 40px;
    position: relative;
  left: 4px;
    border-radius: 12px;
   top: 5px;
   font-size: 16px;
  padding: 6px 10px;
  text-align: justify;
  text-justify: inter-word;
}

#msg-text::placeholder{
    color: rgb(13, 13, 13);
    position: relative;
    left: 10px;
    top: 5px;
    font-size: 13px;
}
#send{
    position: relative;
    left: 20px;
    bottom: 10px;
    font-size: 15px;
    border-radius: 12px;
    background-color: rgb(39, 39, 231);
    color: white;
    border: none;
    width: 100px;
    transition: .4s;
}
#send:hover{
    cursor: pointer;
    font-size: 17px;
}

