body,
html {
  height: 100%;
  /* font-family: "Inconsolata", sans-serif; */
  font-family: "Georgia", Times, serif;
  background-color: #fff;
}

.bgimg {
  background-position: center;
  background-size: cover;
  min-height: 75%;
  margin: 3%;
  position: relative;
}

.menu {
  display: none;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 10px;
  color: #fff;
}

.menu-item {
  flex: 1;
  text-align: center;
}

.menu-item a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.first-txt {
  position: absolute;
  color: #fff ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 85px;
}


