* {
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    height: 100px;
    background-size: cover;
}
.para{
 margin: -88px;
font-size: 16px;
width: 59%;
}
img{
    margin: -5%;
    width: 50%;
}
.logo li {
    list-style: none;
    margin-right: -44px;
    width:59% ;
}
.left_nav li{
    list-style: none;
    margin-right: -93px;
    width:93 px ;
}
a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
a:hover {
    color: rgb(241, 183, 68);
}
header {
    position: relative;
    padding: 0 32px;
}
.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 18px 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left_nav{
    width: 30%;
    height: 60px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: -308px;
    padding: 20px;

}
.li_order a{
    background-color: green;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.li_order a:hover{
color: rgb(241, 183, 68);
}
.signup{
    margin: -12px;
}
.navbar .logo {
    display: flex;
    overflow: hidden;
    margin: 40px;
}
.navbar .togle_btn {
    color: rgb(0, 0, 0);
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.action_btn {
background-color: rgb(215, 138, 30);
 border: none;
 outline: none;
 color: white;
 padding: 8px 10px;
 font-size: 16px;
 margin: -30px 59px;
 border-radius: 12px;
 text-align: center;
}
.action_btn a{
    color: white;
}
.action_btn a:hover{
    color: rgb(45, 44, 44);
}
.downbox {
    display: none;
    position: absolute;
    right:-1px;
    top: 59px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.downbox.open {
    height: 240px;
}
.downbox li {
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7px;
}
.downbox .action_btn {
    width: 45%;
    display: flex;
    justify-content: center;
    margin: auto;
}
@media(max-width:992px) {

    .navbar .navbarcontant,
    .navbar .action_btn , .navbar .order
    , .navbar .signup , .para
    , .li_order a{
    
        display: none;
    }

    .navbar .togle_btn {
        display: block;
    }
    .downbox {
        display: block;
    }
}
@media(max-width:576px){
    .dwonbox{
        left:32px;
        width: unset;
    }
}